*{
    margin:0;
    padding: 0;
}
.wrap{
    /* -webkit-column-width: 280px;
    -o-column-width: 280px;
    -ms-column-width: 280px;
    -moz-column-width: 280px;
            column-width: 280px; */
            position: relative;
            margin: 0 auto;

}
.wrap div{
    float: left;
    width: 260px;
    height: auto;
    padding:10px;
    margin: 10px;
    text-align: center;
    background: red;
    border-radius:4px;
    box-sizing: border-box;
    color: #ffffff;
}
.wrap div img{
    width: 100%;
    height: auto
}